{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/home_style.css' %}">
{% endblock custom_css %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div id="home-content">
                <h1>Making Decentralized Decisions</h1>
                <hr>

                <h3>Your Opinion Counts!</h3>
                <hr>
                <a class="btn btn-light btn-lg" href="{% url 'polls:list' %}" role="button">Click here to get Started</a>
                <hr>

                <h4><i>Powered by Choice Coin</i></h4>
            </div>
        </div>
    </div>
</div>

{% endblock content %}